@import "init.scss";

dl,
ol,
ul {
    margin-bottom: 0;
}

a {
    cursor: pointer;
}

.main {
    min-height: 93vh;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.main-container {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
    padding-top: 55px;
}

.card-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-bottom: 0;
    }

}

.page-link {
    padding: 12px 12px;
}

.footer {
    padding: 20px;
}

.dish-image {
    width: 20%;
}






// apply to /item/index.html

// .meal-image {
//     width: 25%;
// }
