@import "init.scss";

.container {
    height: 30vh;
}

.custom-header {
    height: 30vh;
    width: 100%;
}

.custom-profile {
    width: 30vw;
    border: solid black 3px;
    border-radius: 25px;
}

.user-header {
    width: 100%;
    padding-left: 200px;
    padding-bottom: 15px;
    font-size: 40px;
    color: black;
}

.nav-link {
    color: black;
    font-size: 30px;
}

.custom-navbar {
    width: 30vw;
}

.custom-signin {
    text-align: center;
    width: 55%;
}

.signin-wrapper {
    display: flex;
    justify-content: center;
}

.custom-signin h3 {
    text-align: center;
}

.h1 {
    text-align: center;
}

.custom-form {
    width: 50%;
}

.main-container {
    margin-top: 170px;
}

tr {
    padding: 10px 10px 10px 10px;
}

td {
    padding: 10px 10px 10px 10px;
}
tbody {
    text-align: center;
}
table {
    width: 100%;

}

// apply to /item/index.html

// .meal-image {
//     width: 25%;
// }
