@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  height: 30vh;
}

.custom-header {
  height: 30vh;
  width: 100%;
}

.custom-profile {
  width: 30vw;
  border: solid black 3px;
  border-radius: 25px;
}

.user-header {
  width: 100%;
  padding-left: 200px;
  padding-bottom: 15px;
  font-size: 40px;
  color: black;
}

.nav-link {
  color: black;
  font-size: 30px;
}

.custom-navbar {
  width: 60vw;
  padding-left: 150px;
}

.custom-signin {
  text-align: center;
  width: 55%;
}

.signin-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-signin h3 {
  text-align: center;
}

.h1 {
  text-align: center;
}

.custom-form {
  width: 50%;
}

.main-container {
  margin-top: 170px;
}

th {
  font-size: 20px;
}

td {
  font-size: 17px;
}

tr {
  padding: 10px 10px 10px 10px;
}

td {
  padding: 10px 10px 10px 10px;
}

tbody {
  text-align: center;
}

table {
  width: 100%;
}